.notification {
    width: 200px;
    padding: 25px;

    position: absolute;
    bottom: 15px;
    left: 15px;

}

.alert {

    background-color: #f5f5f5;
    width: 200px;
    padding: 25px;
    color: #444;
    font-size: 13px;
    font-weight: bolder;
    box-shadow: 0 0 12px #000;
    position: absolute;
    bottom: 15px;
    left: 15px;

}
