.button {
  color: #fff;
  border: 0;
  font-family: Georgia;
  padding: 7px 14px 7px 14px;
  border-radius: 2px;
  outline: none; }

.button-lg {
  color: #fff;
  border: 0;
  font-family: Georgia;
  padding: 11px 22px 11px 22px;
  border-radius: 2px;
  outline: none; }

.button:hover {
  cursor: pointer; }

.button-success {
  border: 1px solid #357952;
  background: linear-gradient(180deg, #579b74 0, #21653e); }

.button-success:hover {
  border: 1px solid #357952;
  background: linear-gradient(180deg, #367a53 0, #00441d); }

.button-danger {
  border: 1px solid #a9494b;
  background: linear-gradient(180deg, #aa4a4c 0, #953537); }

.button-danger:hover {
  border: 1px solid #a9494b;
  background: linear-gradient(180deg, #aa4a4c 0, #741416); }

.button-primary {
  border: 1px solid #3b6894;
  background: linear-gradient(180deg, #3c6995 0, #275480); }

.button-primary:hover {
  border: 1px solid #3b6894;
  background: linear-gradient(180deg, #3c6995 0, #06335f); }

.button-warning {
  border: 1px solid #b86e50;
  background: linear-gradient(180deg, #b96f51 0, #c57b5d); }

.button-warning:hover {
  border: 1px solid #b86e50;
  background: linear-gradient(180deg, #b96f51 0, #83391b); }

.button-private {
  border: 1px solid #8a49a0;
  background: linear-gradient(180deg, #8b4aa1, #9756ad); }

.button-private:hover {
  border: 1px solid #8a49a0;
  background: linear-gradient(180deg, #8b4aa1 0, #55146b); }

.button-info {
  border: 1px solid #57929c;
  background: linear-gradient(180deg, #58939d, #649fa9); }

.button-info:hover {
  border: 1px solid #57929c;
  background: linear-gradient(180deg, #58939d 0, #225d67); }

.button-default {
  color: #444;
  border: 1px solid #dddddd;
  background: linear-gradient(180deg, #dedede, #eaeaea); }

.button-default:hover {
  border: 1px solid #dddddd;
  background: linear-gradient(180deg, #dedede 0, #a8a8a8); }

.button-dark {
  border: 1px solid #323d3a;
  background: linear-gradient(180deg, #333e3b, #3f4a47); }

.button-dark:hover {
  border: 1px solid #323d3a;
  background: linear-gradient(180deg, #333e3b 0, #000805); }

.button-accent {
  border: 1px solid #422f63;
  background: linear-gradient(180deg, #433064, #4f3c70); }

.button-accent:hover {
  border: 1px solid #422f63;
  background: linear-gradient(180deg, #433064 0, #0d002e); }

.button-attention {
  border: 1px solid #aba65c;
  background: linear-gradient(180deg, #aca75d, #b8b369); }

.button-attention:hover {
  border: 1px solid #aba65c;
  background: linear-gradient(180deg, #aca75d 0, #767127); }
