html,body {
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

.menu {
  background-color: #333;
  margin: 0 auto;
}

.menu__list {
  display: inline-block;
  list-style-type: none;
  color: rgba(255, 255, 255, .65);
  padding: 11px;
  font-family: 'Georgia', sans-serif;
  transition: .5s;
}

.menu__list:hover {
  color: #fff;
  transition: .5s;
}

#menu__list-login {
  border-left: 1px solid rgba(255, 255, 255, .1);
}

.menu__search {
  border: 0;
  background: #d5d7d8 url(https://vk.com/images/svg_icons/ic_head_loupe.svg) no-repeat;
  border-radius: 14px;
  padding: 6px 6px 6px 19px;
  margin: 7px 0;
  width: 230px;
  height: 28px;
  line-height: 16px;
  transition: background-color 0.05s, color 0.05s;
  border-left: 8px solid transparent;
  background-position: left 8px;
  color: #666;
}

.menu__search:focus {
  outline: none;
  background: #fff url(https://vk.com/images/svg_icons/ic_head_loupe.svg) no-repeat;
  color: #444;
  background-position: left 8px;
}

input[name="search"].menu__search::-webkit-input-placeholder {
  color: #666;
}

.left-bar {
  color: rgba(255, 255, 255, .5);
}

.left-bar__menu {
  text-align: left;
}

.left-bar__list {
  list-style-type: none;
  text-align: left;
  padding: 5px;
  margin-bottom: 8px;
  transition: .25s;
}

.left-bar__list:hover {
  color: #fff;
  transition: .25s;
}

.grid {
  display: grid;
  margin: 0 auto;
  grid-gap: 5px;
  grid-template-columns: 1fr 5fr;
}

.grid-lk, .grid-user {
  display: grid;
  margin: 0 auto;
  grid-gap: 5px;
  /*свойство для колонок*/
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 250px;
}

.messages__friends {
  display: block;
  background-color: #fff;
  border: 1px solid rgba(155, 155, 155, .5);
  padding: 5px;
  height: 400px;
  overflow-y: scroll;
}

.messages__user {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
}

.article__date {
  color: #666;
  font-size: 12px;
  font-family: 'Ubuntu', sans-serif;
}

.article {
  width: auto;
  padding: 25px;
  color: #0f0f0f;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(155, 155, 155, .5);
}

.article__full {
  display: block;
  float: left;
  width: 720px;
  margin: 5px;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid rgba(155, 155, 155, .5);
  background-color: #fff;
}

.article__title {
  font-family: 'Playfair Display', sans-serif;
}

.box {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid rgba(155, 155, 155, .5);
}

.main {
  display: grid;
  grid-template: 150px 250px 150px / 1fr 1fr 1fr;
  grid-gap: 10px;
}

.home {
  display: grid;
  grid-template: auto/ 1fr;
  grid-gap: 10px;
}

.photos {
  display: grid;
  grid-auto-rows: 150px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid__block {
  display: inline-block;
  background-color: #ddd;
  color: #444;
  border: 1px solid rgba(155, 155, 155, .5);
  padding: 12px 19px 12px 19px;
  width: auto;
}

.main__block-header {
  grid-column: 1 / 3;
}

.main__block-left-bar {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.main__block-footer {
  grid-row: 3;
  grid-column: 1 / 4;
}

.lk__block-info {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.lk__block-tab {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.lk__block-footer {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.main__block-left-bar {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.main__block-footer {
  grid-row: 3;
  grid-column: 1 / 4;
}

.message-box {
  padding: 20px;
  background-color: #f5f8fa;
  overflow-y: scroll;
  height: 400px;
  max-height: 400px;
}

.message-time {
  color: #666;
  font-size: 10px;
}

.message__to {
  display: block;
  width: 250px;
  margin: 5px;
  margin-left: 65%;
  word-wrap: break-word;
  background-color: #ccd2d6;
  padding: 7px;
  border-radius: 4px;
  color: #444;
  border: 1px solid rgba(36, 53, 93, 0.25);
}

.message__from {
  display: block;
  margin: 5px;
  width: 250px;
  word-wrap: break-word;
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
  color: #444;
  border: 1px solid rgba(155, 155, 155, .5);
}

#user__img {
  background-color: #fff;
  margin: 15px;
  border: 1px solid rgba(155, 155, 155, .5);
  padding: 15px;
  border-radius: 4px;
}

.lk__avatar {
  background-color: #ccc;
  padding: 12px;
  transition: .5s;
}

#avatar-photo {
  background-size: contain;
}

#photo {
  opacity: .5;
  color: #fff;
  transition: .25s;
}

.img-circle {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.lk__avatar:hover #photo {
  opacity: 1;
  transition: .25s;
}

#lk__avatar_hidden-text {
  display: none;
  transition: .5s;
}

#lk__avatar-icon {
  transform: scale(1.53, 1.53);
  margin-right: 12px;
  transition: .5s;
}

.lk__avatar:hover #lk__avatar-icon {
  transform: scale(1.13, 1.13);
  transition: .5s;
}

.lk__avatar:hover #lk__avatar_hidden-text {
  display: inline-block;
  transition: .5s;
  cursor: pointer;
}

.notification {
  width: 20px;
  height: 30px;
  padding: 25px;
  position: absolute;
  bottom: 0;
  left: 15px;
}

.alert-message {
  background-color: #f5f5f5;
  width: auto;
  padding: 20px;
  font-size: 13px;
  border: 1px solid rgba(155, 155, 155, .5);
  box-shadow: 0 0 12px #000;
  position: relative;
  margin: 5px;
}

.newFriend {
  background-color: #3e8f3e;
  color: #eee;
  border: 1px solid rgba(155, 155, 155, .5);
  box-shadow: 0 0 12px #fff;
}
