@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html {
    margin: 0 auto;






}
h1,h2,h3 {
    font-family: 'Raleway', sans-serif;
}
body {

    min-height: 500px;


}

A {
    color: #FFFFFF;
}
A:hover {
    color: #FFFFFF;
}
* {
    margin: 0;
    padding: 0;
}

.menu {



    background-color: #577594;
}

.menu__list {
    display: inline-block;
    list-style-type: none;
    color: #fff;
    padding: 15px;
    font-family: 'Ubuntu', sans-serif;



}

.menu__list:hover {
    background: #495e74;

    color: #eee;
    transition: .5s;
}
.menu__search {
    border: 0;
    background: #305076
    url(https://vk.com/images/svg_icons/ic_head_loupe.svg) no-repeat;
    border-radius: 14px;
    padding: 6px 6px 6px 19px;
    margin: 7px 0;
    width: 230px;
    height: 28px;
    line-height: 16px;
    transition: background-color 0.05s, color 0.05s;

    border-left: 8px solid transparent;
    background-position: left 8px;
    color: #d9e2ec;
}

.menu__search:focus {
    outline: none;
    background: #fff;
    color: #0f0f0f;
}
input[name="search"].menu__search::-webkit-input-placeholder {
    color: #6785a4;
}

.left-bar {
    background-color: #FFFFFF;
    margin: 5px;
    float: right;
    width: 320px;

    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 4px;
    height: auto;
    border: 1px solid rgba(155,155,155,.5);
}

 .left-bar__list {
     display: block;
     color: #0f0f0f;
     list-style-type: none;
     padding: 25px;


}

 .container {
     padding: 20px;

 }
.article__date {
    color: #333;
    font-style: italic;
    font-family: 'Georgia', sans-serif;
}
.article {
     display: block;
     width: 320px;
    margin: 5px;
     max-width: 320px;
     padding: 16px;
    color: #0f0f0f;
    /*color: rgba(255, 255,255, 0.75);*/
     background-color: #fff;
    /*background-image:  url("http://i1-news.softpedia-static.com/images/news2/Ubuntu-9-04-Has-a-Brand-New-Wallpaper-4.png");*/
    background-size: cover;
     border-radius: 4px;
     border: 1px solid rgba(155,155,155,.5);
 }

.article__full {
    display: block;
    float: left;
    width: 720px;
    margin: 5px;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid rgba(155,155,155,.5);
    background-color: #fff;
}
.article__title {
    font-family: 'Playfair Display', sans-serif;
}
